html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: #f0f0f0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #dddddd;
  /* Set the fixed height of the footer here */
  height: 110px;
}
#tokenLabel {
    font-family: "Menlo", "Andale Mono", monospace;
}
#detectorInput, #runInput, #eventInput {
    width: 75px;
}

#console {
  height: 90px;
  font-size: 10px;
  border: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #999999;
  background-color: #f0f0f0;
}

#dg-save {
    background-color: #eeeeee !important;
}

#aa3d_frame {
  position: absolute;
  padding: 0;
  margin: 0;
  padding-top: 52px;
  padding-bottom: 110px;
  border: 0;
  width: 100% !important;
  height: 100% !important;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


